# streamlit
# langchain-openai
# langgraph
# python-dotenv
# vapi_server_sdk
# fastapi
# uvicorn
# vapi_python
# python-multipart



fastapi
uvicorn[standard]
vapi_server_sdk       # SDK server-side Vapi che non dipende da PyAudio
python-multipart
streamlit-audiorec 