# streamlit
# langchain-openai
# langgraph
# python-dotenv
# vapi_server_sdk
# fastapi
# uvicorn
# vapi_python
# python-multipart



streamlit
langchain-openai
langgraph
python-dotenv
vapi-server-sdk
fastapi
uvicorn[standard]
python-multipart
requests
streamlit-audiorec